<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" th:href="@{/img/favi.png}">
    <title>우정교회 홈페이지</title>

    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <style>
        .swiper-pagination-bullet {
            width: 16px;
            height: 16px;
            text-align: center;
            line-height: 16px;
            opacity: 1;
            background: white;
            margin-right: 4px;
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
        }

        .swiper-pagination-bullet-active {
            color: #fff;
            background: #007aff;
            border: 2px solid white;
        }
    </style>

    <!-- config fragment 사용 -->
    <th:block th:replace="fragment/config :: configFragment" ></th:block>
</head>

<body>
<!-- header fragment 사용 -->
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<!--
    content fragment 사용
    현재 layout을 사용하는 content fragment의 내용을 삽입한다.
-->
<th:block layout:fragment="content"></th:block>

<!-- footer fragment 사용 -->
<th:block th:replace="fragment/footer :: footerFragment"> </th:block>

<script>
</script>
</body>

</html>