<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">
<div id="content" class="col-md-auto" th:fragment="communityFragment">
    <div class="menu-list">
        <div class="title">커뮤니티</div>
        <!--            <div class="menu selected" data-value="all">영상전체</div>-->
        <!--            <div class="menu selected" data-value="notice">교회소식</div>-->
        <div class="menu" data-value="paper">교회주보</div>
        <div class="menu" data-value="photo">교회사진들</div>
        <div class="menu" id="file-board" data-value="file">방송실협조</div>
        <div class="menu" id="file-mp3" data-value="mp3">설교음원</div>
        <div class="menu" id="info-edit" data-value="edit">정보수정요청</div>
    </div>
    <div class="detail">
        <div id="register"><i class="fas fa-pen"></i> 게시물 등록</div>
        <div class="sub-title">교회주보</div>
        <div class="desc">
            <div class="functions"></div>
            <div class="list">
                <table>
                </table>
                <div class="thumb-list">
                </div>
                <div class="container page-container">
                    <div class="paging row justify-content-md-center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="board-detail hide">
        <div class="functions">
            <div class="back"><i class="fas fa-chevron-left"></i> 이전으로</div>
            <div class="buttons">
            </div>
        </div>
        <div class="title-area">
            <div>
                <div class="title"></div>
                <div class="date"></div>
            </div>
        </div>
        <div class="files">
            <div class="header">첨부파일</div>
            <div class="list">
            </div>
        </div>
        <div class="desc">
        </div>
        <div class="photos">
        </div>
    </div>
</div>
</html>
