<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">
<div id="content" class="col-md-auto" th:fragment="departmentFragment">
    <div class="menu-list">
        <div class="title">교육부서</div>
<!--            <div class="menu selected" data-value="introduce">우정 교육부서</div>-->
        <div class="menu" data-value="infant">영유아부</div>
        <div class="menu" data-value="kinder">유치부</div>
        <div class="menu" data-value="elementary-1">유년부</div>
        <div class="menu" data-value="elementary-2">초등부</div>
        <div class="menu" data-value="high">중고등부</div>
        <div class="menu" data-value="youth">청년대학부</div>
        <div class="menu" data-value="couple">신혼부부회</div>
    </div>
    <div class="detail infant hide">
        <div class="title">영유아부</div>
        <div class="sub-title">부서소개</div>
        <div class="desc">
            <div>
                <div class="title-desc">"가르쳐 지키게 하라"</div>
                <div class="mini-title mt-30">주제말씀</div>
                <div class="verse mt-15">네 자녀에게 부지런히 가르치며 <br>집에 앉았을 때에든지 <br> 길을 갈때에든지 <br> 누워 있을 때에든지 <br> 일어날 때에든지 <br> 이 말씀을 강론할 것이며
                    <br><br> (신명기 6:7)</div>
                <div class="mini-title mt-30">교육목표</div>
                <div class="r"><span>1.</span><span> 성경 1000독을 목표로 읽고, 들려주어 하나님을 알게하자</span></div>
                <div class="r"><span>2.</span><span> 말씀에 근거하여 하나님ㆍ나 자신ㆍ부부ㆍ자녀ㆍ세상과의 관계 정립하기</span></div>
            </div>

        </div>
        <div class="sub-title mt-50">섬기는 사람들</div>
        <div class="desc people mb-50">
<!--                <div class="mini-title">조직도</div>-->
            <div>
                <div class="mt-10">
                    <span class="label">학교장</span>
                    <span class="n">예동열 담임목사</span>
                </div>
                <div class="mt-15">
                    <span class="label">담당</span>
                    <span class="n">김현정 사모</span>
                    <span class="label">부장</span>
                    <span class="n">이인성 집사</span>
                </div>
                <div class="mt-15">
                    <span class="label">총무</span>
                    <span class="n">이동건</span>
<!--                    <span class="label">율동</span>-->
<!--                    <span class="n">이아름 집사, 고현민 집사</span>-->
                </div>
                <div class="mt-15">
                    <span class="label">교사</span>
                    <span class="n long">
                        김영미 김하은 김형준 오영화 윤영신 이경희 이아름 이은영 이채이 최경호 황은지
                    </span>
                </div>
<!--                <div class="mt-15">-->
<!--                    <span class="label">영상</span>-->
<!--                    <span class="n">이동건 집사</span>-->
<!--                </div>-->
            </div>
            <div class="mt-30">
            </div>
        </div>
        <div class="mt-50">
            <img th:src="@{/img/department/infant.jpg}">
        </div>
    </div>
    <div class="detail kinder hide">
        <div class="title">유치부</div>
        <div class="sub-title">부서소개</div>
        <div class="desc mb-50">
            <div>
                우정교회 유치부는 5세에서 7세까지의 예수님을 사랑하는 아이들이 함께 모여 예배하여 예수님에 대해 알아가는 부서입니다.
            </div>
            <div class="mt-20">
                세상이 감당하지 못하는 아이! 세상을 변화시키는 아이들로 자라나기를 꿈꾸며 사람들과 하나님께 모두 사랑받는 아이들로 자라나기를 소망합니다.
            </div>
            <div class="mt-20">
                우리 우정교회 유치부에서 우리 아이들이 신앙을 함께 나눌 평생의 친구를 만나고 평생의 롤모델이 될 선생님을 만나며 무엇보다도 우리의 구원자 되신 예수님을 만나게 되기를 바라며 우리 유치부 교역자 이하 선생님들이 늘 기도하며 노력하고 있습니다.
            </div>
        </div>
        <div class="sub-title m-mt-30">예배시간 & 장소안내</div>
        <div class="desc mb-50">
            <div>1. 예배시간 : 주일 오후 12시</div>
            <div class="mt-15">2. 장소 : 1층 유치부실</div>
        </div>
        <div class="sub-title m-mt-30">섬기는 사람들</div>
        <div class="desc people mb-50">
            <div>
                <div class="mt-10">
                    <span class="label">학교장</span>
                    <span class="n">예동열 담임목사</span>
                </div>
                <div class="mt-15">
                    <span class="label">담당</span>
                    <span class="n">김부신 사모</span>
                    <span class="label">부장</span>
                    <span class="n">이두란 권사</span>
                </div>
                <div class="mt-15">
                    <span class="label">총무</span>
                    <span class="n">우금주 집사</span>
                </div>
                <br>
                <div class="mt-15">
                    <span class="label">교사</span>
                    <span class="n long">
                        김안나 남시정 박정신 서애정 오석자 윤경화 윤도예 이희열 <span class="only-mobile">전소미 최유빈 최현정 최효일 추효은 홍성유 황유진</span>
                    </span>
                </div>
                <div class="mt-15 only-pc">
                    <span class="label"></span>
                    <span class="n long">
                        전소미 최유빈 최현정 최효일 추효은 홍성유 황유진
                    </span>
                </div>
            </div>
        </div>
        <div class="mt-50">
            <img th:src="@{/img/department/kinder4.jpeg}">
        </div>
    </div>
    <div class="detail elementary-1 hide">
        <div class="title">유년부</div>
        <div class="sub-title">부서소개</div>
        <div class="desc mb-50">
            <div>
                우정교회 유년부는 초등학교 1~3학년 아이들이 예배 드리는 부서입니다.
            </div>
            <div class="mt-15">
                연령에 맞는 설교, 공과교육, 찬양, 율동과 다양한 활동들을 통해, 아이들의 신앙이 건강하고 균형 잡히게 자라갈 수 있도록 지도합니다.
            </div>
            <div class="mt-15">
                또한 우리 아이들이 예의 바르고, 세상 가운데 모범을 보이며, 옆 사람을 잘 섬기는 어린이로 자라도록 노력하고 있습니다.
            </div>
        </div>
        <div class="sub-title m-mt-30">예배시간 & 장소안내</div>
        <div class="desc mb-50">
            <div>1. 예배시간 : 주일 오후 12시</div>
            <div class="mt-15">2. 장소 : 3층 예루살렘홀</div>
        </div>
        <div class="sub-title m-mt-30">섬기는 사람들</div>
        <div class="desc people mb-50">
            <div>
                <div class="mt-10">
                    <span class="label">학교장</span>
                    <span class="n">예동열 담임목사</span>
                    <span class="label">담당</span>
                    <span class="n">윤준상 집사, 이순진 집사</span>
                </div>
                <div class="mt-15">
                    <span class="label">부장</span>
                    <span class="n">박성환 집사</span>
                    <span class="label">총무</span>
                    <span class="n">허정은</span>
                </div>
                <div class="mt-15">
                    <span class="label">교사</span>
                    <span class="n long">
                        강현호 김가은 김계영 김선비 서승희 양성민 윤예닮 이성은 <span class="only-mobile">이재웅 이정원 이지희 이태림 이태훈 장요빈 하현호 한영산 홍성진</span>
                    </span>
                </div>
                <div class="mt-15 only-pc">
                    <span class="label"></span>
                    <span class="n long">
                        이재웅 이정원 이지희 이태림 이태훈 장요빈 하현호 한영산 홍성진
                    </span>
                </div>
<!--                <div class="mt-50">-->
<!--                    <img th:src="@{/img/department/elementary.jpeg}">-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <div class="detail elementary-2 hide">
        <div class="title">초등부</div>
        <div class="sub-title">부서소개</div>
        <div class="desc mb-50">
            <div>
                우정교회 유년부는 초등학교 4~6학년 아이들이 예배 드리는 부서입니다.
            </div>
            <div class="mt-15">
                연령에 맞는 설교, 공과교육, 찬양, 율동과 다양한 활동들을 통해, 아이들의 신앙이 건강하고 균형 잡히게 자라갈 수 있도록 지도합니다.
            </div>
            <div class="mt-15">
                또한 우리 아이들이 예의 바르고, 세상 가운데 모범을 보이며, 옆 사람을 잘 섬기는 어린이로 자라도록 노력하고 있습니다.
            </div>
        </div>
        <div class="sub-title m-mt-30">예배시간 & 장소안내</div>
        <div class="desc mb-50">
            <div>1. 예배시간 : 주일 오후 12시</div>
            <div class="mt-15">2. 장소 : 3층 예루살렘홀</div>
        </div>
        <div class="sub-title m-mt-30">섬기는 사람들</div>
        <div class="desc people mb-50">
            <div>
                <div class="mt-10">
                    <span class="label">학교장</span>
                    <span class="n">예동열 담임목사</span>
                    <span class="label">담당</span>
                    <span class="n">정지수 목사</span>
                </div>
                <div class="mt-15">
                    <span class="label">부장</span>
                    <span class="n">이근호 집사</span>
                    <span class="label">총무</span>
                    <span class="n">임보람</span>
                </div>
                <div class="mt-15">
                    <span class="label">교사</span>
                    <span class="n long">
                        권도경 강민재 김선아 김성태 김수미 김정금 김태완 문영순 <span class="only-mobile">윤성웅 윤재민 이석우 이성혜 이은주 이진규 함영석 홍성희</span>
                    </span>
                </div>
                <div class="mt-15 only-pc">
                    <span class="label"></span>
                    <span class="n long">
                        윤성웅 윤재민 이석우 이성혜 이은주 이진규 함영석 홍성희
                    </span>
                </div>
<!--                <div class="mt-50">-->
<!--                    <img th:src="@{/img/department/elementary.jpeg}">-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <div class="detail high hide">
        <div class="title">중고등부</div>
        <div class="sub-title">부서소개</div>
        <div class="desc mb-50">
            <div>
                우정교회 중고등부는 청소년 학생들이 하나님을 향한 열정과 분명한 비전을 갖고, 이 시대에 하나님께서 사용하시는 그릇으로 다듬어져 가는 부서입니다.
            </div>
            <div class="mt-20">
                축복의 통로로, 시온의 대로의 역할을 감당하기를 소원하는 우정교회 중고등부는 지식만을 가르치기보다는 하나님을 전적으로 의지하고, 신뢰하는 믿음 안에서 굳게 세워져 가고, 이 시대를 향한 하나님의 뜻을 분별하는 아이들로 가르치고자 노력하고 있습니다.
            </div>
            <div class="mt-20">
                또한 하나님을 사랑하고, 이웃을 사랑하며 빛과 소금의 역할을 잘 감당하는 학생들이 되기를 끊임없이 기도하고 있습니다.
            </div>
        </div>
        <div class="sub-title m-mt-30">예배시간 & 장소안내</div>
        <div class="desc mb-50">
            <div>1. 예배시간 : 주일 오전 10시</div>
            <div class="mt-15">2. 장소 : 1층 우정홀</div>
        </div>
        <div class="sub-title m-mt-30">섬기는 사람들</div>
        <div class="desc people mb-50">
            <div>
                <div class="mt-10">
                    <span class="label">학교장</span>
                    <span class="n">예동열 담임목사</span>
                </div>
                <div class="mt-15">
                    <span class="label">담당교역자</span>
                    <span class="n">김정길 목사</span>
                    <span class="label">부장</span>
                    <span class="n">김용선 집사</span>
                </div>
                <div class="mt-15">
                    <span class="label">총무</span>
                    <span class="n">김일중</span>
                </div>
                <div class="mt-15">
                    <span class="label">교사</span>
                    <span class="n long">
                        강근희 강민정 강예찬 김명희 김민아 김상래 김영진 김은주 김재민 <span class="only-mobile"> 김혜진 김희선 박미화 배성민 신소연 신정옥 유승우 유하영 이동호 이미희 이세형 이재윤 장재윤 정현애 조성은 조영환 채승목 최영신 황지우</span>
                    </span>
                </div>
                <div class="mt-15 only-pc">
                    <span class="label"></span>
                    <span class="n long">
                        김혜진 김희선 박미화 배성민 신소연 신정옥 유승우 유하영 이동호
                    </span>
                </div>
                <div class="mt-15 only-pc">
                    <span class="label"></span>
                    <span class="n long">이미희 이세형 이재윤 장재윤 정현애 조성은 조영환 채승목 최영신 황지우</span>
                </div>
            </div>
        </div>
        <div class="mt-50">
            <img th:src="@{/img/department/high_1.jpeg}">
        </div>
    </div>
    <div class="detail youth hide">
        <div class="title">청년대학부</div>
        <div class="sub-title">부서소개</div>
        <div class="desc mb-50">
            <div>
                우정교회 LOG 청년부는 "너희는 세상의 빛"이라는(마 5:14) 예수님의 명령이자 약속을 순종하며 성취하는 공동체 입니다.<br>
                대학부(20~26세)와 청년부(27~40세)가 진리 안에서 하나되어, 뜨겁게 찬양하고 기도하며 예배합니다.
            </div>
            <div class="mt-20">
                우정교회 청년부는 "LOG"가 담고 있는 뜻처럼, 우리의 예배를 통해 하나님의 은혜와 영광이 우리의 인격과 삶을 변화시키며,<br>
                가정과 학교와 일터와 세상을 비추시도록 우리에게 주신 청년의 때를 산 제사로 올려드립니다.
            </div>
        </div>
        <div class="sub-title m-mt-30">섬기는 사람들</div>
        <div class="desc people">
            <div>
                <div class="mt-10">
                    <span class="label">담임</span>
                    <span class="n">예동열 담임목사</span>
                    <span class="label">담당교역자</span>
                    <span class="n">문지원 목사</span>
                </div>
                <div class="mt-15">
                    <span class="label">부장</span>
                    <span class="n long">서승철 장로, 조윤섭 집사</span>
<!--                    <span class="label">심방사역자</span>-->
<!--                    <span class="n">오희은 집사</span>-->
                </div>
                <div class="mt-40">
                    <span class="label">회장</span>
                    <span class="n">김다윗</span>
                    <span class="label">총무</span>
                    <span class="n">김선비</span>
                </div>
                <div class="mt-15">
                    <span class="label">임원</span>
                    <span class="n long">김민경 박민상 여수연 이성호 이희열 정채은</span>
                <div class="mt-15">
                    <span class="label">청년부 목자</span>
                    <span class="n long">김동현 김민아 김선아 김성태 김안나 윤성웅 이영훈 임보람 장현석 지은호 최영신 최효일</span>
                </div>
                <div class="_mt-5">
                    <span class="label">대학부 목자</span>
                    <span class="n long">김상래 신소연 여수연 윤도예 이재윤 장요빈 조성민 최현정 황현정</span>
                </div>
                    <div class="mt-50">
                        <img th:src="@{/img/department/youth.jpeg}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail couple hide">
        <div class="title">신혼부부회</div>
        <div class="sub-title">부서소개</div>
        <div class="desc mb-50">
            <div>
                <div class="mini-title mt-30">주제말씀</div>
                <div class="verse">나의 사랑하는 자가 내게 말하여 이르기를 나의 사랑 나의 어여쁜 자야 일어나서 함께 가자 (아가서 2장 10절) </div>
                <div class="mini-title mt-30">교육목적</div>
                <div class="r">1. 새로운 부부공동체를 통해서 하나님의 사랑을 알아간다</div>
                <div class="r">2. 이웃사랑과 나눔 희생을 통해서 공동체를 만들어 간다</div>
                <div class="r">3. 교회 공동체로 하나님의 몸 된 교회를 세운다</div>
                <div class="mini-title mt-30 m-mt-30">교육목표</div>
                <div class="r">1. 예비 신혼부부 학교를 통해서 예비부부를 초청하고 교회 성인공동체에 올라가기 전에 관계를 맺게 한다</div>
                <div class="r">2. 제자훈련을 통해서 교회의 충성된 일꾼을 세워간다. </div>
                <div class="r">3. 부부학교, 자녀학교 등 여러 방법을 통해 하나님의 일꾼으로 교회의 든든한 일꾼이 되게 한다. </div>

            </div>
        </div>
        <div class="sub-title m-mt-30">섬기는 사람들</div>
        <div class="desc people">
            <div>
                <div class="mt-10">
                    <span class="label">담임</span>
                    <span class="n">예동열 담임목사</span>
                    <span class="label">담당</span>
                    <span class="n">조성필 목사</span>
                </div>
                <div class="mt-15">
                    <span class="label">부장</span>
                    <span class="long n">이효원 집사, 이은혜 집사</span>
                </div>
                <div class="mt-15">
                    <span class="label">회장</span>
                    <span class="n">김세진 집사</span>
                    <span class="label">회계</span>
                    <span class="n">박혜지 집사</span>
                </div>
            </div>
        </div>
        <div class="mt-50">
            <img th:src="@{/img/department/couple2.jpeg}">
        </div>
    </div>
</div>
</html>
