<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--footerFragment 선언-->
<div id="footer" th:fragment="footerFragment">
    <div>
        <div class="content">
            <div class="address">
                <span>울산광역시 북구 명촌로 10</span>
            </div>
            <div>
                <span>TEL: 052-245-0091, 052-244-7833</span>
            </div>
            <div>
                <span>FAX: 052-248-0691</span>
            </div>
            <div class="copyright">
                COPYRIGHT BY WOOJEONG PRESBYTERIAN CHURCH
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
<div id="footerM" th:fragment="footerMFragment">
    <div>
        <div class="content">
            <div class="address">
                <span>울산광역시 북구 명촌로 10</span>
            </div>
            <div>
                <span>TEL: 052-245-0091, 052-244-7833</span>
            </div>
            <div>
                <span>FAX: 052-248-0691</span>
            </div>
            <div class="copyright">
                COPYRIGHT BY WOOJEONG PRESBYTERIAN CHURCH
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
<!-- Content Page의 script fragment 삽입 -->
<th:block layout:fragment="script"></th:block>

</html>
