<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->

<div th:fragment="headerFragment">
    <div id="main-menu">
        <div>
            <div class="logo">
                <img th:src="@{/img/logo-small.png}" alt="" onclick="window.location.href = '/'">
            </div>
            <div class="menu-list">
                <div class="menu introduce" onclick="window.location.href = '/introduce'">교회소개</div>
                <div class="menu department" onclick="window.location.href = '/department'">교육부서</div>
                <div class="menu worship" onclick="window.location.href = '/worship'">말씀과 찬양</div>
                <div class="menu community" onclick="window.location.href = '/community'">커뮤니티</div>
                <div class="menu-list-detail hide">
                    <div class="column">
                        <div data-url="/introduce?type=introduce">우정교회는?</div>
                        <div data-url="/introduce?type=head-pastor">담임목사 인사말</div>
                        <div data-url="/introduce?type=history">역사</div>
                        <div data-url="/introduce?type=helper">섬기는 사람들</div>
                        <div data-url="/introduce?type=worship-time">예배시간 안내</div>
                        <div data-url="/introduce?type=direction">오시는 길</div>
                    </div>
                    <div class="column">
                        <div data-url="/department?type=infant">영유아부</div>
                        <div data-url="/department?type=kinder">유치부</div>
                        <div data-url="/department?type=elementary-1">유년부</div>
                        <div data-url="/department?type=elementary-2">초등부</div>
                        <div data-url="/department?type=high">중고등부</div>
                        <div data-url="/department?type=youth">청년대학부</div>
                        <div data-url="/department?type=couple">신혼부부회</div>
                    </div>
                    <div class="column">
                        <div data-url="/worship?type=head-pastor">담임목사 설교</div>
                        <div data-url="/worship?type=old-pastor">원로목사 설교</div>
                        <div data-url="/worship?type=sub-pastor">부교역자/강사 설교</div>
                        <div data-url="/worship?type=sunday">주일예배</div>
                        <div data-url="/worship?type=friday">금요성령집회</div>
                        <div data-url="/worship?type=wednesday">수요예배</div>
                        <div data-url="/worship?type=dawn">새벽예배</div>
                        <div data-url="/worship?type=praise">찬양</div>
                        <div data-url="/worship?type=etc">기타예배</div>
                    </div>
                    <div class="column">
                        <div data-url="/community?type=paper">교회주보</div>
                        <div data-url="/community?type=photo">교회사진들</div>
                        <div class="only-login" data-url="/community?type=file">방송실협조</div>
                        <div class="only-admin" data-url="/community?type=edit">정보수정요청</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="user-info">
        <div class="login">
            <button>관리자 로그인</button>
        </div>
        <div class="user">
            <i class="fas fa-user"></i>
            <span class="user-name"></span> <span class="logout">로그아웃</span>
        </div>
    </div>

    <div id="login-popup" class="popup">
        <div class="window">
            <div class="close">✕</div>
            <div class="logo"><img th:src="@{/img/logo-small.png}" alt=""></div>
            <div>
                <input type="text" id="user_id" name="user_id" placeholder="아이디">
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="비밀번호">
            </div>
            <div>
                <button id="login-btn">관리자 로그인</button>
            </div>
<!--            <div class="functions">-->
<!--                <span>회원가입</span>-->
<!--                <span>|</span>-->
<!--                <span>아이디/비밀번호 찾기</span>-->
<!--            </div>-->
        </div>
    </div>
</div>

</html>