<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/department.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript"
            th:src="@{'/js/require/require.min.js'}"
            th:attr="data-main=@{/js/department/departmentInit.js}" >

    </script>
</th:block>

<div class="row justify-content-md-center" layout:fragment="content">
    <input type="hidden" class="init-val-remove" name="board_type" th:value="${data.board_type}">
    <input type="hidden" class="init-val-remove" name="board_idx" th:value="${data.board_idx}">
    <div id="content" class="col-md-auto">
        <div class="menu-list">
            <div class="title">교육부서</div>
<!--            <div class="menu selected" data-value="introduce">우정 교육부서</div>-->
            <div class="menu" data-value="infant">영유아부</div>
            <div class="menu" data-value="kinder">유치부</div>
            <div class="menu" data-value="elementary">유초등부</div>
            <div class="menu" data-value="high">중고등부</div>
            <div class="menu" data-value="youth">청년대학부</div>
            <div class="menu" data-value="couple">신혼부부회</div>
        </div>
        <div class="detail infant hide">
            <div class="title">영유아부</div>
            <div class="sub-title">부서소개</div>
            <div class="desc">
                <div>
                    <div class="title-desc">"믿음이 쑥쑥, 축복이 쑥쑥"</div>
                    <div class="mini-title mt-30">주제말씀</div>
                    <div class="verse">아이 사무엘이 점점 자라매 여호와와 사람들에게 은총을 더욱 받더라 (삼상 2:26)</div>
                    <div class="mini-title mt-30">교육목표</div>
                    <div class="r">1. 사랑하는 아기들이 하나님의 축복 가운데 영과 육이 건강하게 자라는 것</div>
                    <div class="r">2. 말씀을 기준으로 아기들을 양육하게 하는 것</div>
                    <div class="r">3. 하나님께 귀하게 쓰임 받는 아기들이 되도록 기도하는 것</div>
                </div>

            </div>
            <div class="sub-title mt-50">섬기는 사람들</div>
            <div class="desc mb-50">
<!--                <div class="mini-title">조직도</div>-->
                <div>
                    <div class="mt-10">
                        <span class="label">학교장</span>
                        <span class="n">예동열 담임목사</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">담당교역자</span>
                        <span class="n">유수창 목사</span>
                        <span class="label">부장</span>
                        <span class="n">이인성 집사</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">회계</span>
                        <span class="n">이아름 집사</span>
                        <span class="label">율동</span>
                        <span class="n">이설화 집사</span>
                    </div>
                </div>
                <div class="mt-30">
                    <div class="mt-15">
                        <span class="label">1-2세반</span>
                        <span class="n">김정숙 집사</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">3세반</span>
                        <span class="n">이아름 집사</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">4세반</span>
                        <span class="n">이설화 집사</span>
                    </div>
                </div>
            </div>
            <div class="mt-50">
                <img th:src="@{/img/department/infant_1.jpeg}">
            </div>
        </div>
        <div class="detail kinder hide">
            <div class="title">유치부</div>
            <div class="sub-title">부서소개</div>
            <div class="desc mb-50">
                <div>
                    우정교회 유치부는 5세에서 7세까지의 예수님을 사랑하는 아이들이 함께 모여 예배하여 예수님에 대해 알아가는 부서입니다.
                </div>
                <div class="mt-20">
                    세상이 감당하지 못하는 아이! 세상을 변화시키는 아이들로 자라나기를 꿈꾸며 사람들과 하나님께 모두 사랑받는 아이들로 자라나기를 소망합니다.
                </div>
                <div class="mt-20">
                    우리 우정교회 유치부에서 우리 아이들이 신앙을 함께 나눌 평생의 친구를 만나고 평생의 롤모델이 될 선생님을 만나며 무엇보다도 우리의 구원자 되신 예수님을 만나게 되기를 바라며 우리 유치부 교역자 이하 선생님들이 늘 기도하며 노력하고 있습니다.
                </div>
            </div>
            <div class="sub-title">예배시간 & 장소안내</div>
            <div class="desc mb-50">
                <div>1. 예배시간 : 주일 오후 12시</div>
                <div class="mt-15">2. 장소 : 1층 유치부실</div>
            </div>
            <div class="sub-title">섬기는 사람들</div>
            <div class="desc mb-50">
                <div>
                    <div class="mt-10">
                        <span class="label">학교장</span>
                        <span class="n">예동열 담임목사</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">담당교역자</span>
                        <span class="n">김부신 사모</span>
                        <span class="label">부장</span>
                        <span class="n">이두란권사</span>
                    </div>
                    <br>
                    <div class="mt-15">
                        <span class="label">교사</span>
                        <span class="n long">김안나, 김지언, 백선주, 서민경, 오석자, 윤경화, 윤도예, 이문희, 이정길</span>
                    </div>
                    <div class="_mt-5">
                        <span class="label"></span>
                        <span class="n long">이지영, 정애란, 정현애, 최현정, 추효은, 홍성유</span>
                    </div>
                </div>
            </div>
            <div class="mt-50">
                <img th:src="@{/img/department/kinder1.jpg}">
                <img th:src="@{/img/department/kinder2.jpg}">
                <img th:src="@{/img/department/kinder3.jpg}">
            </div>
        </div>
        <div class="detail elementary hide">
            <div class="title">유초등부</div>
            <div class="sub-title">부서소개</div>
            <div class="desc mb-50">
                <div>
                    우정교회 유초등부는 초등학교 1~6학년 아이들이 예배 드리는 부서입니다.
                </div>
                <div class="mt-15">
                    연령에 맞는 설교, 공과교육, 찬양, 율동과 다양한 활동들을 통해, 아이들의 신앙이 건강하고 균형 잡히게 자라갈 수 있도록 지도합니다.
                </div>
                <div class="mt-15">
                    또한 우리 아이들이 예의 바르고, 세상 가운데 모범을 보이며, 옆 사람을 잘 섬기는 어린이로 자라도록 노력하고 있습니다.
                </div>
            </div>
            <div class="sub-title">예배시간 & 장소안내</div>
            <div class="desc mb-50">
                <div>1. 예배시간 : 주일 오후 12시</div>
                <div class="mt-15">2. 장소 : 1층 우정홀</div>
            </div>
            <div class="sub-title">섬기는 사람들</div>
            <div class="desc mb-50">
                <div>
                    <div class="mt-10">
                        <span class="label">학교장</span>
                        <span class="n">예동열 담임목사</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">담당교역자</span>
                        <span class="n">김재준 전도사</span>
                        <span class="label">부장</span>
                        <span class="n">이석우 집사</span>
                    </div>
                    <br>
                    <div class="mt-15">
                        <span class="label">교사</span>
                        <span class="n long">강민재 권도경 김남수 김동현 김선비 김선아 김수미 김재모 김정금 김태완B </span>
                    </div>
                    <div class="_mt-5">
                        <span class="label"></span>
                        <span class="n long">김혜란B 박성환 박영철 송금정 양성민 염미희 예재빈 윤성웅 윤재민 이근호 </span>
                    </div>
                    <div class="_mt-5">
                        <span class="label"></span>
                        <span class="n long">이기동 이미영C 이상윤 이수영 이은주 이지희 이재학 이진규 이태림 이태훈</span>
                    </div>
                    <div class="_mt-5">
                        <span class="label"></span>
                        <span class="n long">이한빈 임보람 장현석 정연호 하현호 허정은 한상원 홍성희</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail high hide">
            <div class="title">중고등부</div>
            <div class="sub-title">부서소개</div>
            <div class="desc mb-50">
                <div>
                    우정교회 중고등부는 청소년 학생들이 하나님을 향한 열정과 분명한 비전을 갖고, 이 시대에 하나님께서 사용하시는 그릇으로 다듬어져 가는 부서입니다.
                </div>
                <div class="mt-20">
                    축복의 통로로, 시온의 대로의 역할을 감당하기를 소원하는 우정교회 중고등부는 지식만을 가르치기보다는 하나님을 전적으로 의지하고, 신뢰하는 믿음 안에서 굳게 세워져 가고, 이 시대를 향한 하나님의 뜻을 분별하는 아이들로 가르치고자 노력하고 있습니다.
                </div>
                <div class="mt-20">
                    또한 하나님을 사랑하고, 이웃을 사랑하며 빛과 소금의 역할을 잘 감당하는 학생들이 되기를 끊임없이 기도하고 있습니다.
                </div>
            </div>
            <div class="sub-title">예배시간 & 장소안내</div>
            <div class="desc mb-50">
                <div>1. 예배시간 : 주일 오전 10시</div>
                <div class="mt-15">2. 장소 : 1층 우정홀</div>
            </div>
            <div class="sub-title">섬기는 사람들</div>
            <div class="desc mb-50">
                <div>
                    <div class="mt-10">
                        <span class="label">학교장</span>
                        <span class="n">예동열 담임목사</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">담당교역자</span>
                        <span class="n">김동훈 목사</span>
                        <span class="label">부장</span>
                        <span class="n">홍광석 장로</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">부감</span>
                        <span class="n">유승우 시무집사</span>
                        <span class="label">총무</span>
                        <span class="n">조윤섭 시무집사</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">회계</span>
                        <span class="n">오희은 집사</span>
                    </div>
                    <br>
                    <div class="mt-15">
                        <span class="label">교사</span>
                        <span class="n long">강민정 강예찬 김계영 김민아 김숙희 김용선 김은주 김하은 김혜진 </span>
                    </div>
                    <div class="_mt-5">
                        <span class="label"></span>
                        <span class="n long">박소연 신소연 신정옥 여수연 오영광 오희은 유승우 유하영 이미희 </span>
                    </div>
                    <div class="_mt-5">
                        <span class="label"></span>
                        <span class="n long">이세형 이순진 이재윤 정채은 조윤섭 조윤아 최영신 홍광석</span>
                    </div>
                    <div class="mt-40" style="color: gray; font-weight: bold">학생임원</div>
                    <div class="mt-15">
                        <span class="label">회장</span>
                        <span class="n">김태양</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">부회장</span>
                        <span class="n">이재하</span>
                        <span class="label">총무</span>
                        <span class="n">이나림</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">회계</span>
                        <span class="n">김유빈</span>
                        <span class="label">서기</span>
                        <span class="n">윤예닮</span>
                    </div>
                </div>
            </div>
            <div class="mt-50">
                <img th:src="@{/img/department/high.jpeg}">
            </div>
        </div>
        <div class="detail youth hide">
            <div class="title">청년대학부</div>
            <div class="sub-title">부서소개</div>
            <div class="desc mb-50">
                <div>
                    우정교회 LOG 청년부는 "너희는 세상의 빛"이라는(마 5:14) 예수님의 명령이자 약속을 순종하며 성취하는 공동체 입니다.<br>
                    대학부(20~26세)와 청년부(27~40세)가 진리 안에서 하나되어, 뜨겁게 찬양하고 기도하며 예배합니다.
                </div>
                <div class="mt-20">
                    우정교회 청년부는 "LOG"가 담고 있는 뜻처럼, 우리의 예배를 통해 하나님의 은혜와 영광이 우리의 인격과 삶을 변화시키며,<br>
                    가정과 학교와 일터와 세상을 비추시도록 우리에게 주신 청년의 때를 산 제사로 올려드립니다.
                </div>
            </div>
            <div class="sub-title">섬기는 사람들</div>
            <div class="desc">
                <div>
                    <div class="mt-10">
                        <span class="label">담임</span>
                        <span class="n">예동열 담임목사</span>
                        <span class="label">부장</span>
                        <span class="n">서승철 장로, 윤준상 집사</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">담당교역자</span>
                        <span class="n">문지원 목사</span>
                        <span class="label">심방사역자</span>
                        <span class="n">이순진 집사</span>
                    </div>
                    <div class="mt-40">
                        <span class="label">청년부 목자장</span>
                        <span class="n">김동현</span>
                        <span class="label">대학부 목자장</span>
                        <span class="n">김다윗</span>
                    </div>
                    <div class="mt-15">
                        <span class="label">청년부 목자</span>
                        <span class="n long">김민아 김충렬 윤성웅 윤시온 이성혜 이영훈 임보람 장현석 지은호 최영신 하현호</span>
                    </div>
                    <div class="_mt-5">
                        <span class="label">대학부 목자</span>
                        <span class="n long">김상래 신소연 장현아 조성민 최현정 추효은 한상원 황현정</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail couple hide">
            <div class="title">신혼부부회</div>
            <div class="sub-title">부서소개</div>
            <div class="desc mb-50">
                <div>
                    <div class="mini-title mt-30">주제말씀</div>
                    <div class="verse">나의 사랑하는 자가 내게 말하여 이르기를 나의 사랑 나의 어여쁜 자야 일어나서 함께 가자 (아가서 2장 10절) </div>
                    <div class="mini-title mt-30">교육목적</div>
                    <div class="r">1. 새로운 부부공동체를 통해서 하나님의 사랑을 알아간다</div>
                    <div class="r">2. 이웃사랑과 나눔 희생을 통해서 공동체를 만들어 간다</div>
                    <div class="r">3. 교회 공동체로 하나님의 몸 된 교회를 세운다</div>
                    <div class="mini-title mt-30">교육목표</div>
                    <div class="r">1. 예비 신혼부부 학교를 통해서 예비부부를 초청하고 교회 성인공동체에 올라가기 전에 관계를 맺게 한다</div>
                    <div class="r">2. 제자훈련을 통해서 교회의 충성된 일꾼을 세워간다. </div>
                    <div class="r">3. 부부학교, 자녀학교 등 여러 방법을 통해 하나님의 일꾼으로 교회의 든든한 일꾼이 되게 한다. </div>

                </div>
            </div>
            <div class="sub-title">섬기는 사람들</div>
            <div class="desc">
                <div class="mt-10">
                    <span class="label">담임</span>
                    <span class="n">예동열 담임목사</span>
                    <span class="label">담당교역자</span>
                    <span class="n">전윤광 목사</span>
                </div>
                <div class="mt-15">
                    <span class="label">부장</span>
                    <span class="n">손상식 집사</span>
                    <span class="label">회장</span>
                    <span class="n">남재준 집사</span>
                </div>
                <div class="mt-15">
                    <span class="label">총무</span>
                    <span class="n">김세진 집사</span>
                    <span class="label">회계</span>
                    <span class="n">이신애 집사</span>
                </div>

            </div>
            <div class="mt-50">
                <img th:src="@{/img/department/couple.jpg}">
            </div>
        </div>
    </div>
</div>
</html>