<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/home.css}" >
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript"
            th:src="@{'/js/require/require.min.js'}"
            th:attr="data-main=@{/js/home/homeInit.js}">
    </script>
</th:block>

<div id="content" class="" layout:fragment="content">
    <div class="">
        <div class="main-preach row justify-content-md-center">
            <div class="col-md-auto preach-player">
                <div class="description">
                    <div><span class="title">담임목사 주일설교</span><span class="date">21.06.27 주일3부예배</span></div>
                    <div class="preach-title">이 시대의 남은 자로 삽시다 (5)</div>
                    <div class="preach-verse">예레미야 42장 5-6, 10-14절</div>
                </div>
                <div class="player">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3Q_sAkiDMrQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-md-auto preach-list">
                <div class="l-row selected">
                    <div><span class="date">2021.06.29</span><span class="type">주일3부예배</span></div>
                    <div><span class="title">이시대에 남은 자로 삽시다(5)</span></div>
                    <div><span class="verse">예레미야 42장 5-6,10-14절</span></div>
                </div>
                <div class="l-row">
                    <div><span class="date">2021.06.27</span><span class="type">금요성령집회</span></div>
                    <div><span class="title">훌쩍 뛰어 넘읍시다(4)</span></div>
                    <div><span class="verse">시편 19편 29절</span></div>
                </div>
                <div class="l-row">
                    <div><span class="date">2021.06.22</span><span class="type">주일3부예배</span></div>
                    <div><span class="title">폭풍을 뛰어넘는 은혜</span></div>
                    <div><span class="verse">마태복음 4장 21-39절</span></div>
                </div>
                <div class="l-row">
                    <div><span class="date">2021.06.20</span><span class="type">금요성령집회</span></div>
                    <div><span class="title">오직 예수 분입니다</span></div>
                    <div><span class="verse">요한복음 2장 21-28절</span></div>
                </div>
                <div class="l-row">
                    <div><span class="date">2021.06.20</span><span class="type">금요성령집회</span></div>
                    <div><span class="title">오직 예수 분입니다</span></div>
                    <div><span class="verse">요한복음 2장 21-28절</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-background">
        <div class="row justify-content-md-center">
            <div class="board col-lg-4">
                <div class="header">교회소식</div>
                <div class="list">
                    <div class="l-row">
                        <div class="title">21년 6월 29일 교회주보</div>
                        <div class="date">2021.06.29</div>
                    </div>
                    <div class="l-row">
                        <div class="title">21년 6월 22일 교회주보</div>
                        <div class="date">2021.06.22</div>
                    </div>
                </div>
            </div>
            <div class="board col-lg-4">
                <div class="header">말씀과 찬양</div>
                <div class="list">
                    <div class="l-row">
                        <div class="title">21년 6월 29일 4부예배</div>
                        <div class="date">2021.06.29</div>
                    </div>
                    <div class="l-row">
                        <div class="title">21년 6월 29일 3부예배</div>
                        <div class="date">2021.06.29</div>
                    </div>
                    <div class="l-row">
                        <div class="title">21년 6월 29일 2부예배</div>
                        <div class="date">2021.06.29</div>
                    </div>
                    <div class="l-row">
                        <div class="title">21년 6월 29일 1부예배</div>
                        <div class="date">2021.06.29</div>
                    </div>
                    <div class="l-row">
                        <div class="title">21년 6월 27일 금요성령집회</div>
                        <div class="date">2021.06.27</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="board double col-lg-4">
                <div class="header">교회사진</div>
                <div class="photo list">
                    <div class="prev">＜</div>
                    <div class="pic-area">
                        <div>
                            <img th:src="@{/img/1.png}" alt="">
                        </div>
                        <div>
                            <img th:src="@{/img/2.png}" alt="">
                        </div>
                        <div>
                            <img th:src="@{/img/1.png}" alt="">
                        </div>
                        <div>
                            <img th:src="@{/img/2.png}" alt="">
                        </div>
                        <div>
                            <img th:src="@{/img/2.png}" alt="">
                        </div>
                        <div>
                            <img th:src="@{/img/1.png}" alt="">
                        </div>
                    </div>
                    <div class="next">＞</div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>