<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/home.css}" >
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript"
            th:src="@{'/js/require/require.min.js'}"
            th:attr="data-main=@{/js/home/homeInit.js}">
    </script>
</th:block>

<div id="content" class="" layout:fragment="content">
    <div class="upper">
        <div class="swiper mySwiper">
<!--            <div class="background">-->
<!--                <img th:src="@{/img/banner/main-banner.jpeg}">-->
<!--            </div>-->
            <div class="swiper-wrapper">
<!--                <div class="swiper-slide" style="background-image: url('')">-->
                <div class="swiper-slide">
                    <img style="width: 100%; object-fit: cover;" src="https://kor-wj-bucket.s3.ap-northeast-2.amazonaws.com/images/banner/wj_church.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img style="width: 100%; height: auto; object-fit: cover;" src="https://kor-wj-bucket.s3.ap-northeast-2.amazonaws.com/images/banner/wj.png" alt="">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="middle gray-background">
        <div style="display: flex; margin-bottom: 70px; margin-top: 30px;">
            <div class="board sermon">
                <div class="header">담임목사 설교
                    <div class="more"><a href="/worship"><i class="fas fa-plus-circle"></i> 더보기</a></div>
                </div>
                <div class="list sermon">
                </div>
            </div>
            <div class="board paper">
                <div class="header">교회소식
                    <div class="more"><a href="/community"><i class="fas fa-plus-circle"></i> 더보기</a></div>
                </div>
                <div class="list">
                </div>
            </div>
        </div>
        <div class="">
            <div class="board picture double col-lg-4">
                <div class="header">교회사진
                    <div class="more"><a href="/community?type=photo"><i class="fas fa-plus-circle"></i> 더보기</a></div>
                </div>
                <div class="photo list">
                    <div class="pic-area">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>