<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/home.css}" >
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript"
            th:src="@{'/js/require/require.min.js'}"
            th:attr="data-main=@{/js/home/homeInit.js}">
    </script>
</th:block>

<div id="content" class="" layout:fragment="content">
    <div class="upper">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('https://www.woori.cc/data/main/WC_20210802140932731.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('https://www.woori.cc/data/main/WC_20211007105247632.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('https://www.woori.cc/data/main/WC_20210925145919923.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('https://www.woori.cc/data/main/WC_20210917161335441.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('https://www.woori.cc/data/main/WC_20210629191030018.jpg')"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="main-preach-con">
            <div class="main-preach row justify-content-md-center">
                <div class="col-md-auto preach-player main">
                    <div class="description">
                        <div><span class="title">담임목사 주일설교</span><span class="date"></span></div>
<!--                        <div class="preach-title"></div>-->
<!--                        <div class="preach-verse">-->
<!--                            <i class="fas fa-bible"></i>-->
<!--                            <span class="verse"></span>-->
<!--                        </div>-->
                    </div>
                    <div class="player">
                    </div>
                </div>
                <div class="col-md-auto preach-player sub">
                    <div class="description">
                        <div><span class="title">주일 4부예배 설교</span><span class="date"></span></div>
                    </div>
                    <div class="player">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-background">
        <div class="row justify-content-md-center">
            <div class="board paper col-lg-4">
                <div class="header">교회소식
                    <div class="more"><a href="/community"><i class="fas fa-plus-circle"></i> 더보기</a></div>
                </div>
                <div class="list">
                </div>
            </div>
            <div class="board worship col-lg-4">
                <div class="header">말씀과 찬양
                    <div class="more"><a href="/worship"><i class="fas fa-plus-circle"></i> 더보기</a></div>
                </div>
                <div class="list">
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="board picture double col-lg-4">
                <div class="header">교회사진
                    <div class="more"><a href="/community?type=photo"><i class="fas fa-plus-circle"></i> 더보기</a></div>
                </div>
                <div class="photo list">
                    <div class="pic-area">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</html>