<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/board.css}">
    <link rel="stylesheet" th:href="@{/css/page/worship.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript"
            th:src="@{'/js/require/require.min.js'}"
            th:attr="data-main=@{/js/worship/worshipInit.js}">
    </script>
</th:block>

<div class="row justify-content-md-center" layout:fragment="content" style="border-top: 2px solid #e5e5e5;">
    <input type="hidden" class="init-val-remove" name="board_type" th:value="${data.board_type}">
    <input type="hidden" class="init-val-remove" name="board_idx" th:value="${data.board_idx}">
    <th:block th:replace="fragment/worship_content :: worshipFragment"> </th:block>
    <th:block th:replace="fragment/worship_register :: worshipRegisterFragment"> </th:block>
</div>
</html>