#content {
    width: 1200px;
    min-height: 800px;
    display: flex;
    padding-bottom: 100px;
}

#content .menu-list {
    width: 230px;
    padding-left: 40px;
    margin-right: 80px;
    padding-top: 50px;
    border-right: 2px dashed #eee;
}
#content .menu-list .title{
    padding-left: 16px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #404040;
    /*color: gray;*/
}
#content .menu-list .menu{
    padding-left: 10px;
    font-size: 1rem;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
    color: #2f2f2f;
    cursor: pointer;
    border-left: 6px solid white;
}
#content .menu-list .menu.selected{
    /*border-left: 6px solid rgba(35, 118, 173, 1);*/
    color: rgba(35, 118, 173, 1);
    font-weight: bold;
}
#content .menu-list .menu:not(.selected):hover{
    /*border-left: 6px solid #61879f;*/
    font-weight: bold;
}


#content .detail {
    width: 890px;
    padding-top: 50px;
}
#content .detail .title{
    font-size: 1.3rem;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #404040;
    /*color: rgba(35, 118, 173, 1);*/
    /*border-bottom: 1px solid lightgrey;*/
    border-left: 6px solid rgba(35, 118, 173, 1);
}

#content .detail .sub-title {
    font-weight: bold;
    font-size: 1.15rem;
    height: 35px;
    border-bottom: 2px solid #eee;
    margin-bottom: 28px;
    color: #404040;
    padding-left: 5px;
}
#content .detail .desc {
    padding-left: 10px;
}
#content .detail .mini-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: rgba(35, 118, 173, 1)
}
#content .detail .title-desc {
    font-weight: bold;
    /*text-align: center;*/
    height: 45px;
    line-height: 45px;
    /*color: rgba(35, 118, 173, 1);*/
    font-size: 1.5rem;
    /*color: rgba(15, 17, 119, 0.8);*/
    color: rgba(35, 118, 173, 1)
}
#content .detail .verse {
    display: inline-block;
    font-size: 1rem;
    color: #404040;
    background-color: rgba(216, 231, 252, 0.69);
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
}
#content .detail .r {
    font-size: 1rem;
    margin-bottom: 5px;
    /*padding-left: 10px;*/
}


#content .detail img  {
    width: 850px;
}

#content .detail.infant .desc .label {
    display: inline-block;
    width: 110px;
    font-size: 0.94rem;
    color: #888;
}
#content .detail.infant .desc .n {
    display: inline-block;
    width: 250px;
    font-size: 1rem;
    color: #404040;
}




#content .detail .desc {
    font-size: 1.05rem;
    color: #404040;
}
#content .detail .desc .label {
    display: inline-block;
    width: 130px;
    color: #888;
    font-size: 0.94rem;
    font-weight: bold;
    padding: 4px 0;
}
#content .detail .desc .n {
    display: inline-block;
    width: 250px;
    font-size: 1rem;
    color: #404040;
    padding: 4px 0;
}
#content .detail .desc .n.long {
    width: 700px;
}

#content .detail .desc .grade{
    font-weight: bold;
    font-size: 1rem;
    color: #888;
    margin-top: 20px;
}

