#content {
    padding-top: 10px;
}

.main-preach {
    margin-bottom: 70px;
    margin-top: 70px;
}
.main-preach > div{
    /*border-top: 1px solid lightgrey;*/
    /*border-bottom: 1px solid lightgrey;*/
}

.main-preach .description {
    /*border-left: 1px solid lightgrey;*/
    /*border-right: 1px solid lightgrey;*/
    /*background-color: #a94141;*/
    height: 125px;
    /*color: white;*/
}
.main-preach .description > div{
    padding-left: 10px;
    padding-right: 10px;
}
.main-preach .description > div:first-child{
    height: 33px;
    line-height: 33px;
    background-color: #a94141;
    margin-bottom: 15px;
}
.main-preach .description .title {
    width: 50%;
    display: inline-block;
    /*font-weight: bold;*/
    /*color: #a94141;*/
    color: white;
    font-size: 1rem;
}
.main-preach .description .date {
    width: 50%;
    text-align: right;
    display: inline-block;
    color: #dedede;
}
.main-preach .description .preach-title {
    color: #a94141;
    padding-left: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2px;
}
.main-preach .description .preach-verse{
    font-size: 1rem;
    color: gray;
    padding-left: 15px;
}

.main-preach .preach-player {
    height: 420px;
}
.main-preach .preach-list {
    padding: 0;
    border: 1px solid lightgrey;
    width: 330px;
    height: 440px;
    margin-left: 70px;
    overflow-y: scroll;
}
.main-preach .preach-list .l-row{
    border-bottom: 1px solid lightgrey;
    padding: 10px 20px;
    font-size: .9rem;
    cursor: pointer;
    border-left: 6px solid white;
}
.main-preach .preach-list .l-row:last-child{
}
.main-preach .preach-list .l-row.selected{
    border-left: 6px solid #a94141;
}
.main-preach .preach-list .l-row:not(.selected):hover{
    border-left: 6px solid #a94141;
}
.main-preach .preach-list .l-row > div{
    padding-top: 4px;
    padding-bottom: 4px;
}
.main-preach .preach-list .l-row .date{
    display: inline-block;
    width: 50%;
    text-align: left;
    color: gray;
}
.main-preach .preach-list .l-row .type{
    display: inline-block;
    width: 50%;
    text-align: right;
    color: #2f2f2f;
}
.main-preach .preach-list .l-row .title{
    font-size: 1rem;
    /*font-weight: bold;*/
}
.main-preach .preach-list .l-row .verse{
    color: #4e4e4e;
}

.main-preach .preach-list .more{
    color: #404040;
    text-decoration: none;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 6px solid white;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
}
.main-preach .preach-list .more:hover{
    font-weight: bold;
    color: #a94141;
}

.board {
    width: 600px;
    padding: 20px;
    color: #2f2f2f;
    margin-right: 10px;
}
.board.double {
    width: 1210px;
}
.board .header{
    font-weight: bold;
    font-size: 1.2rem;
    /*text-align: center;*/
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.board .header .more{
    position: absolute;
    right: 10px;
    top: 0;
    color: gray;
    font-size: 1rem;
    font-weight: normal;
}
.board .header .more a{
    text-decoration: none;
    color: gray;
}
.board .list {
    border: 1px solid lightgrey;
    background-color: white;
    height: 200px;
    overflow-y: scroll;
    font-size: .95rem;
}
.board .list.photo {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 340px;
}
.board .list.photo > div.next,
.board .list.photo > div.prev{
    height: 100%;
    line-height: 150px;
    width: 60px;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.board .list.photo > div.next.disable,
.board .list.photo > div.prev.disable {
    cursor: default;
}
.board .list.photo > div.pic-area {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: table;
}

.board .list.photo > div.pic-area > div{
    display: table-cell;
    width: 33%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    height: 300px;
    cursor: pointer;
}
.board .list.photo > div.pic-area > div:hover{
    font-weight: bold;
}
.board .list.photo > div.pic-area > div .title{
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #404040;
}
.board .list.photo > div.pic-area > div img{
    width: 100%;
}


.board .list .l-row{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}
.board .list .l-row:hover{
    background-color: #eaeaea;
}
.board .list .l-row .title{
    width: 80%;
}
.board .list .l-row .date{
    width: 20%;
    padding-left: 10px;
    text-align: right;
    color: gray;
}


.gray-background {
    background-color: #eaeaea;
    padding-bottom: 50px;
}
.main-color {
    background-color: #a94141;
}
