#main-menu {
    border-bottom: 0 !important;
}

#content {
    padding-top: 10px;
    overflow-x: hidden;
}

.upper {
    position: relative;
    height: 840px;
}

.upper .swiper {
    width: 100%;
    height: 400px;
    /*배너광고에 따라 이 색 변경*/
    background-color: rgba(8, 8, 66, 1);
    text-align: center;
}
.upper .swiper .swiper-slide {
    height: 400px;
    line-height: 400px;
    background-size: cover;
    background-position: 50% 50%;
}
/*.upper .banner img {*/
/*    height: 400px;*/
/*}*/
/*.upper .banner .default {*/
/*    margin: 0 auto;*/
/*    padding-top: 80px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    width: 920px;*/
/*    font-weight: bold;*/
/*    font-size: 1.6em;*/
/*}*/
/*.upper .banner .default > div  {*/
/*    width: 0;*/
/*    flex-grow: 1;*/
/*}*/

/*.upper .banner .default > div i {*/
/*    font-size: 4em;*/
/*}*/
/*.upper .banner .default > div > div {*/
/*    margin-top: 16px;*/
/*}*/
/*.upper .banner .default > div:nth-child(1) {*/
/*    color: #9ad4e6;*/
/*}*/
/*.upper .banner .default > div:nth-child(2) {*/
/*    color: #e69aae;*/
/*}*/
/*.upper .banner .default > div:nth-child(3) {*/
/*    color: #e6c49a;*/
/*}*/
/*.upper .banner .default > div:nth-child(4) {*/
/*    color: #9ae6ab;*/
/*}*/

.main-preach-con {
    position: absolute;
    left: 0;
    top: 430px;
    width: 100%;
}

.main-preach {
    margin: 0 auto;
}
.main-preach > div{
    /*border-top: 1px solid lightgrey;*/
    /*border-bottom: 1px solid lightgrey;*/
}

.main-preach .description {
    /*border-left: 1px solid lightgrey;*/
    /*border-right: 1px solid lightgrey;*/
    /*background-color: rgba(35, 118, 173, 1);*/
    height: 40px;
    /*color: white;*/
    background-color: white;
}
.main-preach .description > div {
    padding-left: 16px;
    padding-right: 16px;
}
.main-preach .description > div:first-child{
    height: 40px;
    line-height: 40px;
    background-color: rgba(35, 118, 173, 1);
    margin-bottom: 20px;
}
.main-preach .description .title {
    width: 50%;
    display: inline-block;
    /*font-weight: bold;*/
    /*color: rgba(35, 118, 173, 1);*/
    color: white;
    font-size: 1rem;
}
.main-preach .description .date {
    width: 50%;
    text-align: right;
    display: inline-block;
    color: rgba(255, 255, 255, 0.67);
    font-size: 0.9em;
}
.main-preach .description .preach-title {
    color: rgba(15, 17, 119, 1);
    padding-left: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2px;
}
.main-preach .description .preach-verse {
    font-size: 0.96rem;
    color: gray;
    padding-left: 15px;
}
.main-preach .description .preach-verse i {
    margin-right: 4px;
}

.main-preach .preach-list {
    padding: 0;
    border: 2px solid rgba(8, 8, 66, 1);
    width: 330px;
    height: 496px;
    margin-left: 12px;
    overflow-y: scroll;
    background-color: white;
}
.main-preach .preach-list .l-row {
    border-bottom: 1px solid rgba(35, 118, 173, 0.2);
    padding: 10px 20px;
    font-size: .9rem;
    cursor: pointer;
    border-left: 6px solid white;
}
.main-preach .preach-list .l-row:last-child {
    margin-bottom: 16px;
    border-bottom: 0;
}
.main-preach .preach-list .l-row:last-child{
}
.main-preach .preach-list .l-row.selected{
    border-left: 6px solid rgba(35, 118, 173, 0.67);
}
.main-preach .preach-list .l-row:not(.selected):hover{
    border-left: 6px solid rgba(35, 118, 173, 0);
    background-color: rgba(35, 118, 173, 0.08);
}
.main-preach .preach-list .l-row > div{
    padding-top: 4px;
    padding-bottom: 4px;
}
.main-preach .preach-list .l-row .date{
    display: inline-block;
    width: 50%;
    text-align: left;
    color: #bbb;
}
.main-preach .preach-list .l-row .type{
    display: inline-block;
    width: 50%;
    text-align: right;
    color: rgba(15, 17, 119, 0.67);
    font-weight: bold;
}
.main-preach .preach-list .l-row .title{
    font-size: 1rem;
    /*font-weight: bold;*/
}
.main-preach .preach-list .l-row .verse{
    color: rgba(35, 118, 173, 1);
}

.main-preach .preach-list .more{
    color: #404040;
    text-decoration: none;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 6px solid white;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
}
.main-preach .preach-list .more:hover{
    font-weight: bold;
    color: rgba(35, 118, 173, 1);
}
.main-preach .preach-list .more i {
    margin-right: 4px;
}

.board {
    width: 600px;
    padding: 20px;
    color: #2f2f2f;
    margin-right: 10px;
}
.board.double {
    width: 1210px;
}
.board .header{
    font-weight: bold;
    font-size: 1.2rem;
    /*text-align: center;*/
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.board .header .more{
    position: absolute;
    right: 10px;
    top: 0;
    color: gray;
    font-size: 1rem;
    font-weight: normal;
}
.board .header .more a{
    text-decoration: none;
    color: #777;
}
.board .header .more a:hover {
    color: rgba(35, 118, 173, 1);
}
.board .list {
    border: 1px solid #e6e9ee;
    background-color: white;
    height: 200px;
    overflow-y: scroll;
    font-size: .95rem;
}
.board .list.photo {
    padding-top: 32px;
    padding-bottom: 32px;
    height: inherit;
}
.board .list.photo > div.next,
.board .list.photo > div.prev{
    height: 100%;
    line-height: 150px;
    width: 60px;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.board .list.photo > div.next.disable,
.board .list.photo > div.prev.disable {
    cursor: default;
}
.board .list.photo > div.pic-area {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.board .list.photo > div.pic-area > div{
    position: relative;
    display: inline-block;
    background-size: cover;
    width: calc(33% - 24px);
    margin: 0 12px;
    overflow: hidden;
    height: 260px;
    cursor: pointer;
}
.board .list.photo > div.pic-area > div .title{
    position: absolute;
    padding: 0 16px;
    height: 44px;
    line-height: 44px;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(24, 24, 24, 0.9);
    color: white;
}
.board .list.photo > div.pic-area > div:hover .title{
    background-color: rgba(35, 118, 173, 1);
}
.board .list.photo > div.pic-area > div img{
    width: 100%;
}


.board .list .l-row{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}
.board .list > .l-row:not(:last-child) {
    border-bottom: 1px solid #f2f4f7;
}
.board .list .l-row:hover{
    background-color: #f8f9fb;
    color: rgba(15, 17, 119, 1);
}
.board .list .l-row .title{
    width: 80%;
}
.board .list .l-row .date{
    width: 20%;
    padding-left: 10px;
    text-align: right;
    font-size: 0.9em;
    color: #aaa;
}


.gray-background {
    background-color: #f2f4f7;
    padding-bottom: 50px;
}
.main-color {
    background-color: rgba(35, 118, 173, 1);
}

