#content {
    width: 1200px;
    min-height: 800px;
    display: flex;
}

#content .menu-list {
    width: 230px;
    padding-left: 40px;
    padding-top: 50px;
    margin-right: 80px;
    border-right: 2px dashed #eee;
}
#content .menu-list .title{
    padding-left: 16px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #404040;
    /*color: gray;*/
}
#content .menu-list .menu{
    padding-left: 10px;
    font-size: 1rem;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
    color: #2f2f2f;
    cursor: pointer;
    border-left: 6px solid white;
}
#content .menu-list .menu.selected{
    /*border-left: 6px solid rgba(35, 118, 173, 1);*/
    color: rgba(35, 118, 173, 1);
    font-weight: bold;
}
#content .menu-list .menu:not(.selected):hover{
    /*border-left: 6px solid #61879f;*/
    font-weight: bold;
}


#content .detail {
    width: 890px;
    padding-top: 50px;
}
#content .detail .title{
    font-size: 1.3rem;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #565656;
    /*color: rgba(35, 118, 173, 1);*/
    /*border-bottom: 1px solid lightgrey;*/
    border-left: 6px solid rgba(35, 118, 173, 1);
}


#content .detail.introduce .bdy{
    display: flex;
}
#content .detail.introduce .box{
    border: 4px solid rgba(35, 118, 173, 0.2);
    /*box-shadow: 2px 1px 1px rgba(35, 118, 173, 1);*/
    border-radius: 20px;
    margin: 0 24px 24px 0;
    padding: 30px;
    width: 400px;
}
#content .detail.introduce .box .icon {
    margin: 16px;
    text-align: center;
}
#content .detail.introduce .box .icon i {
    font-size: 5em;
    color: rgba(35, 118, 173, 0.5);
}
#content .detail.introduce .box .sub-title{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    /*color: #404040;*/
    color: rgba(35, 118, 173, 1);
}
#content .detail.introduce .box .desc{
    font-size: 1.1rem;
    line-height: 30px;
    color: #404040;
    text-align: center;
}


#content .detail.helper .sub-title{
    font-weight: bold;
    font-size: 1.15rem;
    height: 40px;
    border-bottom: 2px solid #eeee;
    margin-bottom: 20px;
    color: #404040;
    padding-left: 5px;
}
#content .detail.helper .helper-list{
    padding: 0 12px 56px 12px;
}

#content .detail.helper .helper-list .spc{
    font-size: 1.1rem;
    font-weight: bold;
    color: rgba(35, 118, 173, 0.75);
    margin-bottom: 15px;
}
#content .detail.helper .helper-list > div {
    display: inline-block;
    padding: 12px 0;
    width: 272px;
    /*border-bottom: 1px solid #eee;*/
}
#content .detail.helper .helper-list .contact {
    width: inherit;
    color: #888;
}
#content .detail.helper .helper-list .contact i {
    color: rgba(35, 118, 173, 1);
    margin: 4px 4px 0 0;
}
#content .detail.helper .helper-list > div:last-child {
    border-bottom: 0;
}
#content .detail.helper .helper-list > div span{
    display: inline-block;
    width: 80px;
    font-size: 0.9em;
    font-weight: bold;
    color: rgba(35, 118, 173, 0.75);
}
#content .detail.helper .helper-list .line{
    display: flex;
}
#content .detail.helper .helper-list .line > div{
    width: 290px;
    height: 432px;
}
#content .detail.helper .helper-list.small .line > div{
    /*width: 210px;*/
    height: 230px;
}
#content .detail.helper .helper-list .line > div > div{
    width: 230px;
    margin-right: 50px;
}
#content .detail.helper .helper-list.small .line > div > div{
    width: 120px;
}

#content .detail.helper .helper-list .line > div .pic{
    height: 260px;
    overflow: hidden;
    text-align: center;
}
#content .detail.helper .helper-list.small .line > div .pic{
    height: 160px;
}
#content .detail.helper .helper-list .line > div img{
    width: 220px;
}
#content .detail.helper .helper-list.small .line > div img{
    width: 120px;
    height: 160px;
}
#content .detail.helper .helper-list.small .line > div .name{
    padding: 12px 0 4px 0px;
    text-align: center;
    font-size: 1rem;
}
#content .detail.helper .helper-list.small .line > div .job{
    padding-left: 0;
    text-align: center;
}
#content .detail.helper .helper-list .line > div .name{
    padding: 12px 0 4px 12px;
    font-size: 1.15rem;
    font-weight: bold;
    color: #2f2f2f;
}
#content .detail.helper .helper-list .line > div .job{
    padding-left: 12px;
    margin-bottom: 4px;
    font-size: .9rem;
    color: #aaa;
}
#content .detail.helper .helper-list .line > div .e-mail{
    padding-top: 6px;
    font-size: .9rem;
    color: #555;
    padding-left: 12px;
}
#content .detail.helper .helper-list .line > div .tel{
    padding-top: 3px;
    font-size: .9rem;
    color: #555;
    padding-left: 12px;
}
#content .detail.helper .helper-list .line > div i {
    color: rgba(35, 118, 173, 1);
    margin-right: 3px;
}


#content .detail.worship-time .sub-title{
    font-weight: bold;
    font-size: 1.15rem;
    height: 35px;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
    color: #404040;
    padding-left: 5px;
}
#content .detail.worship-time .worship-time-list {
    margin-bottom: 50px;
}
#content .detail.worship-time .worship-time-list > div{
    display: flex;
}
#content .detail.worship-time .worship-time-list > div > div{
    width: 415px;
}
#content .detail.worship-time .worship-time-list > div > div:first-child{
    margin-right: 35px;
}
#content .detail.worship-time .worship-time-list > div > div table{
    width: 100%;
    border: 2px solid rgba(35, 118, 173, 0.2);
}
#content .detail.worship-time .worship-time-list > div > div table td{
    height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: .95rem;
    color: #676767;
}
#content .detail.worship-time .worship-time-list > div > div table td.type{
    width: 140px;
    background-color: rgba(35, 118, 173, 0.1);
    color: #4e4e4e;
}
#content .detail.worship-time .worship-time-list > div > div table td.time{
    width: 140px;
}
#content .detail.worship-time .worship-time-list > div > div table tr:nth-child(even) td.type{
    background-color: rgba(35, 118, 173, 0.15);
}
#content .detail.worship-time .worship-time-list > div > div table tr:nth-child(even) td.time,
#content .detail.worship-time .worship-time-list > div > div table tr:nth-child(even) td.place {
    background-color: rgba(35, 118, 173, 0.05);
}

#content .detail.direction #map {
    margin-top: 30px;
    width: 800px;
    height: 400px;
    border: 1px solid lightgrey;
}

#content .detail.head-pastor  {
    position: relative;
}
#content .detail.head-pastor .img {
    position: absolute;
    top: 120px;
    right: 80px;
    width: 220px;
    height: 250px;
    overflow: hidden;
    border-radius: 100%;
}
#content .detail.head-pastor .img img{
    width: 220px;
}
#content .detail.head-pastor .greetings {
    font-size: 1em;
    line-height: 1.7em;
    margin-top: 10px;
    margin-bottom: 80px;
}
#content .detail.head-pastor .greetings span {
    color: rgba(35, 118, 173, 1);
    font-weight: bold;
}
#content .detail.head-pastor .greetings span.subtitle {
    display: inline-block;
    font-size: 1.2em;
    color: rgba(15, 17, 119, 0.8);
    margin: 8px 0 8px 0;
}
